@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', Arial;
}

*{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    background-color: lightgrey;
    max-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 5vw;
    
}

section.normal{
    background-color: rgb(255, 255, 255);
    color: black;
}

section.imagem{
    background-color: rgb(65, 63, 63);
    color: white;
    box-shadow: inset 6px 6px  13px rgba(0, 0, 0, 0.503);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.427);
   display: inline-block;
   padding: 10px;
   text-shadow: 1px 1px 0px black;
}

section > p{
    padding-bottom: 2em;
}

section#img01{
    background-image: url(../imagens/imagens/background001.jpg);
    
    
}

section#img02{
    background-image: url(../imagens/imagens/background002.jpg);
   
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}