@charset "UTF-8";

body{
    background-color: rgb(47, 214, 142);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: red;
}

h1.maintitle{
    color: aqua;
    text-align: center;
    background-color: rgba(70, 149, 44, 0.127);
    background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.532),
     rgba(128, 0, 128, 0.534));
     border-radius: 5px;
     
}

.maintitle{
    text-align: center;
}

.subtitle{
    text-align: right;
}

.destaque{
    background-color: rgb(255, 0, 221);
    border-radius: 5px;
}
h2{
    color: blueviolet;
}