@charset "UTF-8";

ul{
    column-count: 2;
}

body{
    background-color: rgb(154, 193, 225);
    font-size: 17px;
}

h1{
    background-color:  rgb(191, 222, 247);
    border: 0cap;
    padding: 0%;
    margin: auto;
    text-align: center;
    font-size: 3em;
}

h2{
    text-align: center;
    font-size: 2em;
}

p{
    text-align: justify;
    font-size: 1.1em;
}

div{
    display: flex;
    justify-content: center;
}

.redes{
    text-align: center;
}

.return{
    text-align: center;
}